@import './frontend/src/common/styles/variables.scss';

$formWidth: 400px;
// $formHeight: 280px;
$checkboxSize: 20px;

$headerFont: 24px;
$textFont: 20px;
$smallTextFont: 16px;

:local(.login-form) {
  border-width: 1px;
	border-style: solid;
	border-radius: 20px;
	margin: 60px auto;
	padding: 10px 40px;
	width: $formWidth;
	// height: $formHeight;
	text-align: center;

	h3{
		font-size: $headerFont;
	}

	label{
		font-size: $smallTextFont;
		line-height: $checkboxSize;
		vertical-align: top;
	}

	button{
		border-radius: 10px;
		width: 130px;
		height: 35px;
		font-size: $textFont;
		margin: 10px;
		background: linear-gradient(to bottom, white, $landing-lightgrey);
		border-width: 1px;
		cursor: pointer;
	}

	// #rememberMe{
	// 	border-radius: 4px;
	// 	width: $checkboxSize;
	// 	height: $checkboxSize;
	// }
}

:local(.auth-links) {
	margin: 10px 0;
	a {
		line-height: 1.6em;
	}
}

:local(.get-data) {
	margin: 15px 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	span{
		display: inline-block;
		color: $landing-middlegrey;
		font-size: $textFont;
	}

	input{
		box-sizing: border-box;
		border-radius: 10px;
		height: 32px;
		padding: 10px;
	}

	input[type="radio"] {
		height: 24px;
		width: 24px;
		margin-left: 12px;
	}

	label {
		line-height: 30px;
	}

	div, input {
		width: 200px;
	}
}

:local(.notification-text) {
	text-align: center;
}

:local(.restore-email) {
	width: 150px;
	height: 18px;
	padding: 7px;
}