:local(.chat) {
  padding: 0;
  height: 80%;
}

:local(.sending-form) {
  width: 100%;
  display: flex;
}

:local(.message-input) {
  flex-basis: 80%;
  padding: 10px;
}

:local(.submit-button) {
  flex-basis: 20%;
  padding: 10px;
}