:local(.message-item) {
  max-width: 40%;
  min-width: 20%;
  width: auto;
  border-radius: 18px;
  padding: 20px 20px 15px;
  word-wrap: break-word;
  margin-bottom: 10px;
}

:local(.message-body-image) {
  width: 300px;
  height: 300px;
}

:local(.message-item-left) {
  align-self: flex-start;
  // background-color: #f0f0f0;
  background-color: white;
  border: 1px solid #e0e0e0;
}

:local(.message-item-right) {
  align-self: flex-end;
  // background-color: #D4F0FE;
  background-color: #00bcd4;

  span {
    color: white;
  }
}

:local(.message-body) {
  font-size: 18px;
  color: #2D2D2D;
  display: block;
  word-break: break-all;

  div {
    max-height: 22px;
    display: flex;
    align-items: center;
  }

  div > span {
    margin-top: -5px;
  }
}

:local(.user-name) {
  display: block;
  word-wrap: normal;
  color: #A5A5A5;
  font-size: 14px;
  margin-top: 7px;
}