:local(.custom-filter) {
  padding-left: 10px;
  user-select: none;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  label {
    margin-right: 10px;
  }
}

:local(.radio-input) {
  padding-left: 70px;
  width: 60%;
  overflow: hidden;
}

:local(.checkbox-input) {
  padding-left: 70px;
  width: 60%;
  overflow: hidden;
}

:local(.select) {
  padding: 0 0 0 70px;
  width: 60%;
  overflow: hidden;
}

.text {
  margin: 0;
}

.one-row {
  display: flex;

  .text {
    width: 45%;
  }
}

.second-block {
  padding-left: 15px;
}