:local(.message-item) {
}

:local(.force-message) {
  color: grey;
  font-size: 12px;
  text-align: center;
  padding: 5px;
}

:local(.admin-message) {
  color: red;
  font-size: 16px;
}

:local(.user-message) {
  color: green;
  font-size: 16px;
}