@import './frontend/src/common/styles/variables.scss';

:local(.container) {
    color: $landing-darkgrey;
    position: absolute;
    top: 0;
    right: 1%;
    vertical-align: top;
}

:local(.nested-items) {
	display: flex;
	flex-direction: column;
    flex-wrap: wrap;
    height: 300px !important;
    overflow: auto;
}

:local(.columns-filter-icon) {
  min-width: 50px !important;
  margin: 0px 20px;

  & > button > div > div > svg {
    width: 40px !important;
    height: 40px !important;
  }
}