.badge {
  position: absolute;
  width: 20px;
  height: 20px;
  color: #fff;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  line-height: 20px;

  &.blue-badge {
    top: 3px;
    right: 5px;
    background-color: #39f;
    z-index: 1;
  }

  &.red-badge {
    top: 19px;
    right: 5px;
    background-color: #ec523b;
    z-index: 2;
  }
}