@import './../../../common/styles/variables';

:local(.chat) {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 15px;
  right: 15px;
  width: 25%;
  height: 50%;
  border-radius: 25px;
  background-color: #fff;
  border: 4px solid $landing-orange;
  padding-bottom: 70px;
}

:local(.close-button) {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  z-index: 2;
  &:hover {
    cursor: pointer;
  }
}