@import './../../../common/styles/variables';

:local(.chat) {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 25px;
  right: 25px;
  width: 25%;
  height: 50%;
  border-radius: 10px;
  background-color: #fff;
  padding-bottom: 85px;
  box-shadow: 0 0 34px -2px rgba(87,86,87,1);
}

