:local(.big-conversation-list) {
  // display: block;
  // width: 100%;
}

:local(.small-conversation-list) {
   span > div > div > div {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
   }
}

:local(.conversations) {
  // flex-basis: 25%
}

:local(.chat) {
  // flex-basis: 55%
}

:local(.info) {
  // flex-basis: 20%
}