doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

  body
    if (error && error.length > 0)
      h4.error-msg= error
    block content