block content
  div
    h1 Login Page
    br
    form(action="/login", method="post", style='max-width: 300px;')
      input(type='text', name="username", placeholder='Enter Username')
      input(type='password', name="password", placeholder='Password')
      button(type='submit') Submit
      &nbsp;
      a(href='/')
        button(type="button") Cancel