:local(.filter-wrapper) {
  box-sizing: border-box;
  width: 100%;
  margin-left: 0 !important;
  min-height: 400px;
  margin-bottom: 25px;

  @media (min-width: 1000px) {
    margin-bottom: 0;
    margin-left: 15px !important;
    width: 23%;
    float: left;
  }

  @media (min-width: 1400px) {
    width: 19%;
  }
}

:local(.filter-form) {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
  height: calc(100vh - 80px - 48px - 48px) !important;
  overflow: auto;

  & > div {
    width: 50%;
  }

  @media (min-width: 1000px) {
    flex-direction: column;
    flex-wrap: nowrap;
    & > div {
      width: 100%;
    }
  }
}

:local(.submit-button-container) {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

:local(.submit-button) {
  width: 35%;
  margin: 10px auto 5px;

  @media (min-width: 1000px) {
    width: 60%;
  }
}