:local(.FAQ-list) {
  margin: 10px 0 15px;
  width: 20%;
  height: 100vh;
  overflow: auto;
  list-style: none;
  padding: 20px;
  box-sizing: border-box;
  display: inline-block;
}

:local(.search-input) {
  @media (min-width: 1000px) {
    width: 90% !important;
  }
}

:local(.ListItem-highlight-) {

}

:local(.ListItem-highlight-false) {
  p{
    margin: 0 !important;
    padding: 25px 15px !important;
  }
}


:local(.ListItem-highlight-true) {
  background-color: #bcbcbc !important;

  p{
    margin: 0 !important;
    padding: 25px 15px !important;
  }
}