$headerHeight: 73px;
$searchFieldHeight: 48px;
$addQuestionHeight: 66px;
$padding: 20px;

:local(.container) {
  width: 20vw !important;
  height: calc(100vh - 80px) !important;
  list-style: none;
  padding: $padding;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

:local(.ListItem-highlight-false) {
  p{
    margin: 0px !important;
    padding: 25px 15px !important;
  }
}


:local(.ListItem-highlight-true) {
  background-color: #bcbcbc !important;

  p{
    margin: 0px !important;
    padding: 25px 15px !important;
  }
}

:local(.list){
  height: calc(100vh - #{$headerHeight} - #{$searchFieldHeight} - #{$addQuestionHeight} - #{$padding}*2) !important;
  border-bottom: 1px solid #E0E0E0 !important;
  overflow: auto;
}

:local(.addButton) {
  padding: 20px 0px 10px 0px; 
  margin: auto;
}

:local(.search) {
  width: 100% !important;
}