:local(.FAQ-list) {
  margin: 10px 0 15px;
  width: 20%;
  height: 100vh;
  overflow: auto;
  list-style: none;
  padding: 20px;
  box-sizing: border-box;
  display: inline-block;
}

:local(.ListItem) {
  p{
    margin: 0px !important;
    padding: 15px !important;
  }
}