:local(.messages-list) {
  margin: 0;
  width: 100%;
  flex-grow: 2;
  overflow: auto;
  background-color: #e3e3e3;
  list-style: none;
  display: flex;
  flex-direction: column;
  // padding: 20px;
  box-sizing: border-box;
}

:local(.date-time) {
  background-color: #d4f0fe; 
  text-align: center;
  width: 160px;
  margin: 5px auto 10px auto;
  padding: 5px;
  border-radius: 10px;
}