@import './frontend/src/common/styles/variables.scss';

:local(.container) {
    color: $landing-darkgrey;
	display: inline-block;
	width: 79%;
	float: right;
}

:local(.pagination) {
	display: inline-flex !important;
	justify-content: space-between !important;
	align-items: flex-end !important;
	width: 100%;
}
