@import './frontend/src/common/styles/variables.scss';

:local(.container) {
    color: $landing-darkgrey;
	display: inline-block;
	width: 79%;
	float: right;
}

:local(.topPanel){
	display: inline-flex !important;
	justify-content: space-between !important;
	align-items: flex-start !important;
	width: 100%;

	p{
		display: inline !important;
		vertical-align: middle !important;
	}
}

:local(.rowsPerPage){
	margin: 0px 40px;
	display: inline-flex;
	width: 250px;
	justify-content: space-between !important;

}

:local(.pagination){
	margin-top: 10px;

	p{
		display: inline !important;
	}
}

:local(.raisedButton){
	width: 40px !important;
	margin: 5px;
}
