// @import './../../../common/styles/variables';

:local(.messages-list) {
  padding: 5px;
  margin: 30px 0 15px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  list-style: none;
  // border: 2px solid $landing-red;
  border: 2px solid red;
  border-radius: 10px;
}


