@import '../../../../common/styles/variables';

:local(.messages-list) {
  box-sizing: border-box;
  padding: 15px 5px 5px 5px;
  margin: 0;
  width: 100%;
  overflow: auto;
  list-style: none;
  height: 85vh;
  @media (min-width: 1000px) {
    height: 340px;
  }
}


