@import '../../../../common/styles/variables';

:local(.chat) {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 10% 0 8%;
  height: 90%;
}

:local(.return-button) {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  background-size: cover;

  &:hover {
    cursor: pointer;
  }
}

:local(.sending-form) {
  position: absolute;
  width: 80%;
  bottom: 15px;
  display: flex;
  align-items: center;
  left: 10%;
}

:local(.message-input) {
  flex-basis: 74%;
  padding: 10px;
  margin-right: 1%;
  border-radius: 5px;
  border: 1px solid $landing-red;
}

:local(.file-input) {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

:local(.file-input-label) {
  position: relative;
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 10px;
  background: $landing-orange url("https://www.materialui.co/materialIcons/file/file_upload_white_192x192.png") no-repeat center;
  background-size: cover;

  &:hover {
    background-color: $landing-red;
  }
}

:local(.selected-files-counter) {
  position: absolute;
  width: 15px;
  height: 15px;
  color: $landing-orange;
  font-weight: bold;
  font-size: 1.25rem;
  top: -10px;
  right: -14px;
}

:local(.submit-button) {
  flex-basis: 25%;
  background-color: #fff;
  color: $landing-red;
  border: 1px solid $landing-red;
  border-radius: 5px;
  padding: 10px;

  &:hover {
    background-color: $landing-red;
    color: #fff;
    cursor: pointer;
  }
}

:local(.main_emo-menu){
  height:40px;
  line-height: 40pxl;
  background:none;
  border:none
}



:local(.emoji-block-icon){
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  &:after{
    content: "☺️"
  }
}

:local(.emoji-block) {
  position: absolute;
  bottom: 70px;
  left: 50px;
  border:none;
  &:focus{
    border: none;
  }
}
