@import './frontend/src/common/styles/variables.scss';

:local(.container) {
    min-height: 500px;
    color: $landing-darkgrey;
    width: 1000px;
    margin: 0 auto;
	font-family: Ubuntu, sans-serif;

    a {
        transition: all .2s ease;

        &:hover {
            color: $landing-violet;
        }
    }

    input {
		box-sizing: border-box;
		border-radius: 10px;
		height: 34px;
		padding: 10px;
		&:focus {
			outline: none;
        }
    }
}

:local(.error-message) {
	background-color: red;
	color: white;
	padding: 10px;
	border: 1px solid grey;
	border-radius: 10px;
	margin: 10px 0;

	&:empty {
		display: none;
	}
}