:local(.main-window) {
  padding: 0;
  margin: 10px 0 15px;
  width: 80%;
  height: 100vh;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  overflow: auto;
  background-color: white;
  list-style: none;
  display: inline-block;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;

  button{
    margin: 10px;
  }

  .list-item{
    &:hover{
      background-color: white !important;
    }
  }
}