@import '../../../../common/styles/variables';

:local(.chat) {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 34px -2px rgba(87,86,87,1);
  font-family: 'Ubuntu', sans-serif;
  left: 0;
  top: 0;
  @media (min-width: 1000px) {
    height: 50%;
    border-radius: 10px;
    padding-bottom: 85px;
    width: 40%;
    top: auto;
    left: auto;
  }

  @media (min-width: 1400px) {
    width: 30%;
  }
}

